In [3]:
import pandas as pd
from pandas import Series, DataFrame
import re
from selenium import webdriver
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options as FirefoxOptions
import time

In [4]:
subjects = ['RS0101', 'RS0102', 'RS0103']
subjects_map = {'RS0101': 'Mathematics',
                'RS0102': 'Physics',
                'RS0103': 'Chemistry'}

In [5]:
a = '''countries_dic = {'ar': 'Argentina',
                'au': 'Australia',
                'at': 'Austria',
                'be': 'Belgium',
                'br': 'Brazil',
                'ca': 'Canada',
                'cl': 'Chile',
                'cn': 'China',
                'hk': 'China-Hong Kong',
                'mo': 'China-Macau',
                'tw': 'China-Taiwan',
                'hr': 'Croatia',
                'cz': 'Czech',
                'dk': 'Denmark',
                'eg': 'Egypt',
                'fi': 'Finland',
                'fr': 'France',
                'de': 'Germany',
                'gr': 'Greece',
                'hu': 'Hungary',
                'in': 'India',
                'ir': 'Iran',
                'ie': 'Ireland',
                'il': 'Israel',
                'it': 'Italy',
                'jp': 'Japan',
                'my': 'Malaysia', 
                'mx': 'Mexico',
                'nl': 'Netherlands',
                'nz': 'New Zealand',
                'no': 'Norway',
                'pk': 'Pakistan',
                'pl': 'Poland',
                'pt': 'Portugal',
                'ro': 'Romania',
                'ru': 'Russia',
                'sa': 'Saudi Arabia',
                'rs': 'Serbia',
                'sg': 'Singapore',
                'sk': 'Slovakia',
                'si': 'Slovenia',
                'za': 'South Africa',
                'kr': 'South Korea',
                'es': 'Spain',
                'se': 'Sweden',
                'ch': 'Switzerland',
                'th': 'Thailand',
                'tn': 'Tunisia',
                'tr': 'Turkey',
                'us': 'United States',
                'gb': 'United Kingdom',
                'uy': 'Uraguay',
                'vn': 'Vietnam'}'''

In [6]:
countries_dic = {


'af':'Afghanistan',
'xq':'Africa, not otherwise specified',
'ax':'Åland Islands {Ahvenamaa}',
'al':'Albania',
'dz':'Algeria',
'as':'American Samoa',
'ad':'Andorra',
'ao':'Angola',
'ai':'Anguilla',
'xx':'Antarctica and Oceania, not otherwise specified',
'ag':'Antigua and Barbuda',
'ar':'Argentina',
'am':'Armenia',
'aw':'Aruba',
'xs':'Asia (Except Middle East), not otherwise specified',
'au':'Australia',
'at':'Austria',
'az':'Azerbaijan',
'bs':'Bahamas, The',
'bh':'Bahrain',
'bd':'Bangladesh',
'bb':'Barbados',
'by':'Belarus',
'be':'Belgium',
'bz':'Belize',
'bj':'Benin',
'bm':'Bermuda',
'bt':'Bhutan',
'bo':'Bolivia',
'ba':'Bosnia and Herzegovina',
'bw':'Botswana',
'br':'Brazil',
'vg':'British Virgin Islands [Virgin Islands, British]',
'bn':'Brunei [Brunei Darussalam]',
'bg':'Bulgaria',
'bf':'Burkina [Burkina Faso]',
'mm':'Burma [Myanmar]',
'bi':'Burundi',
'kh':'Cambodia',
'cm':'Cameroon',
'ca':'Canada',
'ic':'Canary Islands',
'cv':'Cape Verde',
'xw':'Caribbean, not otherwise specified',
'ky':'Cayman Islands',
'cf':'Central African Republic',
'xu':'Central America, not otherwise specified',
'td':'Chad',
'xl':'Channel Islands, not otherwise specified',
'cl':'Chile',
'cn':'China',
'tw':'China (Taiwan) [Taiwan, Province Of China]',
'cx':'Christmas Island',
'cc':'Cocos (Keeling) Islands',
'co':'Colombia',
'km':'Comoros',
'cg':'Congo',
'cd':'Congo (Democratic Republic) [Congo (The Democratic Republic of the)] {Formerly Zaire}',
'ck':'Cook Islands',
'cr':'Costa Rica',
'hr':'Croatia',
'cu':'Cuba',
'xa':'Cyprus (European Union)',
'xb':'Cyprus (Non-European Union)',
'xc':'Cyprus, not otherwise specified',
'cz':'Czech Republic',
'xm':'Czechoslovakia not otherwise specified',
'dk':'Denmark',
'dj':'Djibouti',
'dm':'Dominica',
'do':'Dominican Republic',
'tl':'East Timor [Timor Leste]',
'ec':'Ecuador',
'eg':'Egypt',
'sv':'El Salvador',
'xf':'England',
'gq':'Equatorial Guinea',
'er':'Eritrea',
'ee':'Estonia',
'et':'Ethiopia',
'xp':'Europe, not otherwise specified',
'eu':'European Union, not otherwise specified',
'fk':'Falkland Islands [Falkland Islands (Malvinas)]',
'fo':'Faroe Islands',
'fj':'Fiji',
'fi':'Finland',
'fr':'France',
'gf':'French Guiana',
'pf':'French Polynesia',
'ga':'Gabon',
'gm':'Gambia, The',
'ge':'Georgia',
'de':'Germany',
'gh':'Ghana',
'gi':'Gibraltar',
'gr':'Greece',
'gl':'Greenland',
'gd':'Grenada',
'gp':'Guadeloupe {includes St Martin (North)}',
'gu':'Guam',
'gt':'Guatemala',
'gg':'Guernsey',
'gn':'Guinea',
'gw':'Guinea-Bissau',
'gy':'Guyana',
'ht':'Haiti',
'hn':'Honduras',
'hk':'Hong Kong (Special Administrative Region of China) [Hong Kong]',
'hu':'Hungary',
'is':'Iceland',
'in':'India',
'id':'Indonesia',
'ir':'Iran [Iran, Islamic Republic of]',
'iq':'Iraq',
'ie':'Ireland',
'im':'Isle of Man',
'il':'Israel',
'it':'Italy',
'ci':'Ivory Coast',
'jm':'Jamaica',
'jp':'Japan',
'je':'Jersey',
'jo':'Jordan',
'kz':'Kazakhstan',
'ke':'Kenya',
'ki':'Kiribati',
'kp':'Korea (North) [Korea, Democratic People’s Republic of]',
'kr':'Korea (South) [Korea, Republic of]',
'qo':'Kosovo',
'kw':'Kuwait',
'kg':'Kyrgyzstan',
'la':'Laos [Lao People’s Democratic Republic]',
'lv':'Latvia',
'lb':'Lebanon',
'ls':'Lesotho',
'lr':'Liberia',
'ly':'Libya [Libyan Arab Jamahiriya]',
'li':'Liechtenstein',
'lt':'Lithuania',
'lu':'Luxembourg',
'mo':'Macao (Special Administrative Region of China) [Macao]',
'mk':'Macedonia [Macedonia, The Former Yugoslav Republic of]',
'mg':'Madagascar',
'mw':'Malawi',
'my':'Malaysia',
'mv':'Maldives',
'ml':'Mali',
'mt':'Malta',
'mh':'Marshall Islands',
'mq':'Martinique',
'mr':'Mauritania',
'mu':'Mauritius',
'yt':'Mayotte',
'mx':'Mexico',
'fm':'Micronesia [Micronesia, Federated States of]',
'xr':'Middle East, not otherwise specified',
'md':'Moldova [Moldova, Republic of]',
'mc':'Monaco',
'mn':'Mongolia',
'ms':'Montserrat',
'ma':'Morocco',
'mz':'Mozambique',
'na':'Namibia',
'nr':'Nauru',
'np':'Nepal',
'nl':'Netherlands',
'an':'Netherlands Antilles {Comprises Curacao, Bonaire, Saba, St Eustatius, St Martin (South)}',
'nc':'New Caledonia',
'nz':'New Zealand',
'ni':'Nicaragua',
'ne':'Niger',
'ng':'Nigeria',
'nu':'Niue',
'nf':'Norfolk Island',
'xt':'North America, not otherwise specified',
'xg':'Northern Ireland',
'mp':'Northern Mariana Islands',
'no':'Norway',
'zz':'Not Known',
'om':'Oman',
'pk':'Pakistan',
'pw':'Palau',
'pa':'Panama',
'pg':'Papua New Guinea',
'py':'Paraguay',
'pe':'Peru',
'ph':'Philippines',
'pn':'Pitcairn, Henderson, Ducie And Oeno Islands [Pitcairn]',
'pl':'Poland',
'pt':'Portugal {Includes Madeira, Azores}',
'pr':'Puerto Rico',
'qa':'Qatar',
're':'Réunion',
'ro':'Romania',
'ru':'Russia [Russian Federation]',
'rw':'Rwanda',
'ws':'Samoa',
'sm':'San Marino',
'st':'Sao Tome And Principe',
'sa':'Saudi Arabia',
'xh':'Scotland',
'sn':'Senegal',
'qn':'Serbia And Montenegro',
'sc':'Seychelles',
'sl':'Sierra Leone',
'sg':'Singapore',
'sk':'Slovakia',
'si':'Slovenia',
'sb':'Solomon Islands',
'so':'Somalia',
'za':'South Africa',
'xv':'South America, not otherwise specified',
'gs':'South Georgia And The South Sandwich Islands',
'es':'Spain {includes CEUTA, MELILLA}',
'xd':'Spain (Except Canary Islands)',
'xe':'Spain, not otherwise specified',
'lk':'Sri Lanka',
'sh':'St Helena',
'kn':'St Kitts And Nevis',
'lc':'St Lucia',
'pm':'St Pierre And Miquelon',
'vc':'St Vincent And The Grenadines',
'aa':'Stateless',
'sd':'Sudan',
'sr':'Surinam [Suriname]',
'sj':'Svalbard And Jan Mayen',
'sz':'Swaziland',
'se':'Sweden',
'ch':'Switzerland',
'sy':'Syria [Syrian Arab Republic]',
'tj':'Tajikistan',
'tz':'Tanzania [Tanzania, United Republic of]',
'th':'Thailand',
'tg':'Togo',
'tk':'Tokelau',
'to':'Tonga',
'tt':'Trinidad and Tobago',
'tn':'Tunisia',
'tr':'Turkey',
'tm':'Turkmenistan',
'tc':'Turks and Caicos Islands',
'tv':'Tuvalu',
'ug':'Uganda',
'ua':'Ukraine',
'xn':'Union of Soviet Socialist Republics not otherwise specified',
'ae':'United Arab Emirates',
'gb':'United Kingdom',
'xk':'United Kingdom, not otherwise specified',
'us':'United States',
'vi':'United States Virgin Islands [Virgin Islands, U. S.]',
'uy':'Uruguay',
'uz':'Uzbekistan',
'vu':'Vanuatu',
'va':'Vatican City [Holy See (Vatican City State)]',
've':'Venezuela',
'vn':'Vietnam',
'xi':'Wales',
'wf':'Wallis and Futuna',
'ps':'West Bank (including East Jerusalem) and Gaza Strip [Palestinian Territory, Occupied]',
'eh':'Western Sahara',
'ye':'Yemen',
'xo':'Yugoslavia not otherwise specified',
'zm':'Zambia',
'zw':'Zimbabwe'}

In [7]:
def select_from_dropdown(span, link):
    li = span.parent.find_elements_by_tag_name('li')
    for i in range(0,len(li)):
        if li[i].text == link:
            element = li[i]
            element.click()

In [8]:
def get_page(url, driver):
    html_src = driver.page_source
    table = pd.read_html(html_src)
    data = DataFrame(table[0])
    data = data[['World Rank','Institution', 'Total Score', 'Unnamed: 4']]
    data.rename(columns={'Unnamed: 4': 'Q1'}, inplace=True)
    data['Subject'] = subject
    data['Subject'] = data['Subject'].map(subjects_map)
    pattern = "(?<=country-flags/png100/).*?(?=.png)"
    countries = re.findall(pattern,html_src)
    data['Country'] = countries
    data['Country'] = data['Country'].map(countries_dic)
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'Subject']]
    span = driver.find_element_by_xpath('//*[@id="content-box"]/div[2]/table/thead/tr/th[5]/div/div[1]/div[1]/input')
    span.click()
    select_from_dropdown(span, 'CNCI')
    html_src = driver.page_source
    cnci = pd.read_html(html_src)
    cnci = cnci[0]
    cnci = cnci[['Institution', 'Unnamed: 4']]
    cnci.rename(columns={'Unnamed: 4': 'CNCI'}, inplace=True)
    data = pd.merge(data, cnci, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'Subject']]
    span.click()
    select_from_dropdown(span, 'IC')
    html_src = driver.page_source
    ic = pd.read_html(html_src)
    ic = ic[0]
    ic = ic[['Institution', 'Unnamed: 4']]
    ic.rename(columns={'Unnamed: 4': 'IC'}, inplace=True)
    data = pd.merge(data, ic, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'Subject']]
    span.click()
    select_from_dropdown(span, 'TOP')
    html_src = driver.page_source
    top = pd.read_html(html_src)
    top = top[0]
    top = top[['Institution', 'Unnamed: 4']]
    top.rename(columns={'Unnamed: 4': 'TOP'}, inplace=True)
    data = pd.merge(data, top, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'TOP', 'Subject']]
    span.click()
    select_from_dropdown(span, 'AWARD')
    html_src = driver.page_source
    award = pd.read_html(html_src)
    award = award[0]
    award = award[['Institution', 'Unnamed: 4']]
    award.rename(columns={'Unnamed: 4': 'AWARD'}, inplace=True)
    data = pd.merge(data, award, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'AWARD', 'Subject']]
    
    
    return data

In [12]:
for subject in subjects:
    url = 'https://www.shanghairanking.com/rankings/gras/2021/' + subject
    options = webdriver.FirefoxOptions()
    options.headless = True
    driver = webdriver.Firefox(executable_path= r"/users/Sam/Downloads/geckodriver", options=options)
    driver.implicitly_wait(0.4)
    driver.maximize_window()
    driver.get(url)
    pages = driver.find_elements_by_class_name('ant-pagination-item')
    num_pages = int((pages[-1].text))
    span = driver.find_element_by_xpath('//*[@id="content-box"]/div[2]/table/thead/tr/th[5]/div/div[1]/div[1]/input')
    html_src = driver.page_source
    table = pd.read_html(html_src)
    data = DataFrame(table[0])
    data = data[['World Rank','Institution', 'Total Score', 'Unnamed: 4']]
    data.rename(columns={'Unnamed: 4': 'Q1'}, inplace=True)
    data['Subject'] = subject
    data['Subject'] = data['Subject'].map(subjects_map)
    pattern = "(?<=country-flags/png100/).*?(?=.png)"
    countries = re.findall(pattern,html_src)
    data['Country'] = countries
    data['Country'] = data['Country'].map(countries_dic)
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'Subject']]
    span = driver.find_element_by_xpath('//*[@id="content-box"]/div[2]/table/thead/tr/th[5]/div/div[1]/div[1]/input')
    span.click()
    select_from_dropdown(span, 'CNCI')
    html_src = driver.page_source
    cnci = pd.read_html(html_src)
    cnci = cnci[0]
    cnci = cnci[['Institution', 'Unnamed: 4']]
    cnci.rename(columns={'Unnamed: 4': 'CNCI'}, inplace=True)
    data = pd.merge(data, cnci, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'Subject']]
    span.click()
    select_from_dropdown(span, 'IC')
    html_src = driver.page_source
    ic = pd.read_html(html_src)
    ic = ic[0]
    ic = ic[['Institution', 'Unnamed: 4']]
    ic.rename(columns={'Unnamed: 4': 'IC'}, inplace=True)
    data = pd.merge(data, ic, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'Subject']]
    span.click()
    select_from_dropdown(span, 'TOP')
    html_src = driver.page_source
    top = pd.read_html(html_src)
    top = top[0]
    top = top[['Institution', 'Unnamed: 4']]
    top.rename(columns={'Unnamed: 4': 'TOP'}, inplace=True)
    data = pd.merge(data, top, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'TOP', 'Subject']]
    span.click()
    select_from_dropdown(span, 'AWARD')
    html_src = driver.page_source
    award = pd.read_html(html_src)
    award = award[0]
    award = award[['Institution', 'Unnamed: 4']]
    award.rename(columns={'Unnamed: 4': 'AWARD'}, inplace=True)
    data = pd.merge(data, award, on='Institution', how='left')
    data = data[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'TOP', 'AWARD', 'Subject']]
    driver.find_element_by_tag_name('body').send_keys(Keys.CONTROL + Keys.HOME)
    span.click()
    select_from_dropdown(span, 'Q1')
    for i in range(2,num_pages+1):
        li = span.parent.find_elements_by_tag_name('li')
        for l in li:
            try:
                if l.text == str(i):
                    element = l
                    element.click()
                    driver.find_element_by_tag_name('body').send_keys(Keys.CONTROL + Keys.HOME)
                    html_src = driver.page_source
                    table_2 = pd.read_html(html_src)
                    data_next = DataFrame(table_2[0])
                    data_next = data_next[['World Rank','Institution', 'Total Score', 'Unnamed: 4']]
                    data_next.rename(columns={'Unnamed: 4': 'Q1'}, inplace=True)
                    data_next['Subject'] = subject
                    data_next['Subject'] = data_next['Subject'].map(subjects_map)
                    pattern = "(?<=country-flags/png100/).*?(?=.png)"
                    countries = re.findall(pattern,html_src)
                    data_next['Country'] = countries
                    data_next['Country'] = data_next['Country'].map(countries_dic)
                    data_next = data_next[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'Subject']]
                    span.click()
                    select_from_dropdown(span, 'CNCI')
                    html_src = driver.page_source
                    cnci = pd.read_html(html_src)
                    cnci = cnci[0]
                    cnci = cnci[['Institution', 'Unnamed: 4']]
                    cnci.rename(columns={'Unnamed: 4': 'CNCI'}, inplace=True)
                    data_next = pd.merge(data_next, cnci, on='Institution', how='left')
                    data_next = data_next[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'Subject']]
                    span.click()
                    select_from_dropdown(span, 'IC')
                    html_src = driver.page_source
                    ic = pd.read_html(html_src)
                    ic = ic[0]
                    ic = ic[['Institution', 'Unnamed: 4']]
                    ic.rename(columns={'Unnamed: 4': 'IC'}, inplace=True)
                    data_next = pd.merge(data_next, ic, on='Institution', how='left')
                    data_next = data_next[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'Subject']]
                    span.click()
                    select_from_dropdown(span, 'TOP')
                    html_src = driver.page_source
                    top = pd.read_html(html_src)
                    top = top[0]
                    top = top[['Institution', 'Unnamed: 4']]
                    top.rename(columns={'Unnamed: 4': 'TOP'}, inplace=True)
                    data_next = pd.merge(data_next, top, on='Institution', how='left')
                    data_next = data_next[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'TOP', 'Subject']]
                    span.click()
                    select_from_dropdown(span, 'AWARD')
                    html_src = driver.page_source
                    award = pd.read_html(html_src)
                    award = award[0]
                    award = award[['Institution', 'Unnamed: 4']]
                    award.rename(columns={'Unnamed: 4': 'AWARD'}, inplace=True)
                    data_next = pd.merge(data_next, award, on='Institution', how='left')
                    data_next = data_next[['World Rank', 'Institution', 'Country', 'Total Score', 'Q1', 'CNCI', 'IC', 'TOP', 'AWARD', 'Subject']]
                    data = pd.concat([data, data_next], ignore_index=True)
                    driver.find_element_by_tag_name('body').send_keys(Keys.CONTROL + Keys.HOME)
                    span.click()
                    select_from_dropdown(span, 'Q1')
            except Exception as ex:
                #template = "An exception of type {0} occurred. Arguments:\n{1!r}"
                #message = template.format(type(ex).__name__, ex.args)
                #print(message)
                pass
    
    data.to_excel('AWRU Ranking Data ' + str(subjects_map[subject]) + '.xlsx',
                 index=False)
    driver.close()

In [11]:
data

,World Rank,Institution,Country,Total Score,Q1,CNCI,IC,TOP,AWARD,Subject
0,1,"University of California, Berkeley",United States,376.9,73.5,98.0,72.3,100.0,90.9,Chemistry
1,2,Stanford University,United States,358.5,68.2,100.0,75.2,85.1,90.1,Chemistry
2,3,Massachusetts Institute of Technology (MIT),United States,356.1,74.8,96.0,73.8,88.9,81.6,Chemistry
3,4,Northwestern University,United States,338.1,68.3,97.4,71.0,95.9,62.4,Chemistry
4,5,Harvard University,United States,326.8,62.0,94.6,79.9,79.3,75.0,Chemistry
...,...,...,...,...,...,...,...,...,...,...
495,401-500,Wayne State University,United States,NaN,26.4,73.0,62.1,23.5,0.0,Chemistry
496,401-500,Wenzhou University,China,NaN,27.3,80.8,44.6,15.5,0.0,Chemistry
497,401-500,Wuhan Institute of Technology,China,NaN,28.2,82.7,47.0,11.0,0.0,Chemistry
498,401-500,Yanshan University,China,NaN,29.1,78.0,46.8,15.0,0.0,Chemistry
499,401-500,Zhengzhou University of Light Industry,China,NaN,23.2,90.7,40.1,10.2,0.0,Chemistry

In [9]:
len(data)

500